---
- name: Running the Python Scrapper
  hosts: scrapper
  gather_facts: yes
  become: true

  vars:
    code_local: "deploy_code"
    code_dest: "Python_Scrapper"
    home_location: "/home/ubuntu"

  tasks:
    - name: Synchronizing Files
      synchronize:
        src: "{{ home_location }}/{{ code_local }}/"
        dest: "{{ home_location }}/{{ code_dest }}/"
    - name: Running Updates & Upgrades
      apt:
        upgrade: "yes"
        update_cache: yes
        force_apt_get: yes
        cache_valid_time: 3600
    - name: Installing python3 and pip3
      apt:
        name:
          - python3
          - python3-pip
        state: present
    - name: Building scrapper dependencies
      command:
        cmd: python3 setup.py build
        chdir: "{{ home_location }}/{{ code_dest }}/"
    - name: Installing scrapper dependencies
      command:
        cmd: python3 setup.py install
        chdir: "{{ home_location }}/{{ code_dest }}/"
    - name: Testing scrapper working
      command:
        cmd: pytest
        chdir: "{{ home_location }}/{{ code_dest }}"
      environment:
        PYTHONPATH: "{{ ansible_env.PATH }}:{{ home_location }}/{{ code_dest }}/"
      become: yes
      become_user: ubuntu