---
- name: Running the Python Scrapper
  hosts: scrapper
  gather_facts: yes
  become: true

  vars:
    code_local: "deploy_code"
    code_dest: "scrapper"
    config_local: "config_files"
    config_dest: "config_files"
    home_location: "/home/ubuntu"

  tasks:
    - name: Synchronizing App Files
      synchronize:
        src: "{{ home_location }}/{{ code_local }}/"
        dest: "{{ home_location }}/{{ code_dest }}/"
    - name: Synchronizing Config Files
      synchronize:
        src: "{{ home_location }}/{{ config_local }}/"
        dest: "{{ home_location }}/{{ config_dest }}/"
    - name: Running Updates & Upgrades
      apt:
        upgrade: "yes"
        update_cache: yes
        force_apt_get: yes
        cache_valid_time: 3600
    - name: Getting Public IP
      command: "curl ifconfig.me"
      register: host_ip
    - name: Ensuring software-properties-common is installed
      apt:
        name: software-properties-common
        state: present
    - name: Ensuring nginx is installed
      apt:
        name: nginx
        state: present
    - name: Ensuring nginx is started
      service:
        name: nginx
        state: started
    - name: Copying config file for nginx
      copy:
        src: "/home/ubuntu/{{ config_dest }}/nginx.conf"
        dest: /etc/nginx/
        remote_src: yes
    - name: Ensuring public IP is current
      lineinfile:
        path: /etc/nginx/nginx.conf
        regexp: "^(.*)server_name(.*)$"
        line: "server_name {{ host_ip.stdout }};"
        backrefs: yes
    - name: Restarting nginx to load new config file
      service:
        name: nginx
        state: restarted
    - name: Installing python3 and pip3
      apt:
        name:
          - python3
          - python3-pip
        state: present
    - name: Installing scrapper requirements
      command:
        cmd: python3 -m pip install -r requirements.txt
        chdir: "{{ home_location }}/{{ code_dest }}/"
    - name: Installing pluggy dependency
      command:
        cmd: python3 -m pip install pluggy
        chdir: "{{ home_location }}/{{ code_dest }}/"
    - name: Building scrapper dependencies
      command:
        cmd: python3 setup.py build
        chdir: "{{ home_location }}/{{ code_dest }}/"
    - name: Installing scrapper dependencies
      command:
        cmd: python3 setup.py install
        chdir: "{{ home_location }}/{{ code_dest }}/"
    - name: Testing scrapper working
      command:
        cmd: pytest
        chdir: "{{ home_location }}/{{ code_dest }}"
      environment:
        PYTHONPATH: "{{ ansible_env.PATH }}:{{ home_location }}/{{ code_dest }}/"
      become: yes
      become_user: ubuntu
    - name: Running Flask Application
      command:
        cmd: flask run
        chdir: "{{ home_location }}/{{ code_dest }}"
      environment:
        FLASK_APP: project